body .about-title {
    font-family: 'Unna', serif, Helvetica, sans-serif;
    font-weight: 400;
    color: #0f1728;
    font-size: 72px;
    text-align: center;
    letter-spacing: 3.6px;
    line-height: 79px;
    margin: 0;
  }
  
body .subtitle { 
  font-family: 'Abel', sans-serif; /* sans-serif font */
  font-size: 32px;  /* smaller than the main heading */
  color: #666;      /* less prominent color */
  margin-top: 10px; /* space above the subtitle */
  font-weight: normal;
}

/* CSS for the image container */
.about-image {
  text-align: center; /* Centers the image horizontally */
  padding: 20px; /* Adds padding around the image */
  margin: 0 auto; /* Ensures the container is centered */
}

/* CSS for the image itself */
.about-image img {
  max-width: 75%; /* Limits the image size to 90% of its container */
  height: auto; /* Keeps the image's aspect ratio intact */
  border: none; /* Optional: removes any border around the image */
  border-radius: 30px; /* Adds rounded corners to the image */
}

/* Style for both grey lines */
.grey-line {
  height: 1px; /* Thickness of line */
  background-color: grey;
  width: 80%; /* width as the grey line; same as footer content */
  margin: 40px auto 10px; /* 40px space above, centered horizontally, 10px space below */
}