body .resources-title {
    font-family: 'Unna', serif, Helvetica, sans-serif;
    font-weight: 400;
    color: #0f1728;
    font-size: 72px;
    text-align: center;
    letter-spacing: 3.6px;
    line-height: 79px;
    margin: 0;
  }
  
body .subtitle { 
  font-family: 'Abel', sans-serif; /* sans-serif font */
  font-size: 32px;  /* smaller than the main heading */
  color: #666;      /* less prominent color */
  margin-top: 10px; /* space above the subtitle */
  font-weight: normal;
}

.resources-content {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
  }

.collapsible-item {
    margin-bottom: 10px;
  }
  
  .collapsible-header {
    font-family: 'Unna', serif, Helvetica, sans-serif;
    font-size: 36px;
    color: #666;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color:#FED501;
    padding: 10px;
    cursor: pointer;
  }
  
  .collapsible-content {
    display: none;
    padding: 10px;
  }
  
  .collapsible-content.show {
    display: block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .caption {
    font-family: 'Abel', sans-serif; /* sans-serif font */
    font-size: 14px;  /* smaller than the main heading */
    color: #666;      
    margin-top: 10px;
    text-align: left;
  }