{% extends 'landing_page.html' %}

{% load static %}

{% block title %}
    Resources - 4 Years ReCoding
{% endblock %}

{% block heading %}
    <h1 class="resources-title">4 Years ReCoding:</h1>  <!-- Changed class here -->
    <h2 class="subtitle">RESOURCES</h2>  <!-- This will appear on a new line by default -->
{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
  <script src="{% static 'js/resources.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Supporting text section -->
<div class="supporting-text">
    <p>This is the supporting text for the RESOURCES page. It can contain informative details about the project, its goals, or any other relevant information you wish to include here. This text is styled with the class 'supporting-text' to ensure it follows the design guidelines established in the style.css.</p>
</div>

<div class="resources-content">
    <section class="books-section">
      <div class="collapsible-item">
        <h3 class="collapsible-header">Books</h3>
        <div class="collapsible-content">
          <div class="grid-container">
            <div class="grid-item">
              <img src="{% static 'images/book1.jpg' %}" alt="Book 1">
              <p class="caption">The End of Alzheimer's, 2017</p>
            </div>
            <div class="grid-item">
              <img src="{% static 'images/book2.jpg' %}" alt="Book 2">
              <p class="caption">The End of Alzheimer's Program, 2020</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="papers-section">
        <div class="collapsible-item">
          <h3 class="collapsible-header">Research Papers</h3>
          <div class="collapsible-content">
            <div class="grid-container">
              <div class="grid-item">
                <img src="{% static 'images/paper2014.png' %}" alt="Paper 1">
                <p class="caption">Paper 1 Caption</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/paper2016.png' %}"alt="Paper 2">
                <p class="caption">Paper 2 Caption</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/paper2018.png' %}" alt="Paper 3">
                <p class="caption">Paper 3 Caption</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/paper2023.png' %}" alt="Paper 4">
                <p class="caption">Paper 4 Caption</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/paper20232.png' %}" alt="Paper 5">
                <p class="caption">Paper 5 Caption</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>

<!-- Grey line separator -->
<div class="grey-line"></div>

{% endblock %}